name: Create and publish k8s workbench container image

on:
  push:
    branches:
    - "**"
    tags:
    - "v*.*.*"
  pull_request:
    branches:
    - "main"
  release:
    types: [published]
    branches:
      - main
      - helm-chart


env:
  REGISTRY: ghcr.io
  IMAGE_NAME: harbor-day2-operator

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Run Ruff Check
      uses: astral-sh/ruff-action@v3
      with:
        src: "./src"
        args: check --fix

    - name: Run Ruff Format
      uses: astral-sh/ruff-action@v3
      with:
        src: "./src"
        args: format

    - name: Lint Dockerfile
      uses: hadolint/hadolint-action@v3.3.0
      with:
        dockerfile: Dockerfile

    - name: Log in to the container registry
      if: ${{ !github.event.act }}
      uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags, labels) for container
      if: ${{ !github.event.act }}
      id: meta
      uses: docker/metadata-action@f0a4bc3c2d4c68c4ddaeaca7ba2497760fe0ead4
      with:
        images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}
          type=sha

    - name: Set version
      id: version
      run: |
        if [[ "${{ github.ref }}" == "refs/tags/"* ]]; then
          VERSION=${GITHUB_REF#refs/tags/}
        else
          VERSION=0.0.0-dev
        fi
        echo "VERSION=$VERSION" >> $GITHUB_ENV
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    - name: Build container image for test
      uses: docker/build-push-action@64c9b141502b80dbbd71e008a0130ad330f480f8
      with:
        context: .
        push: false
        tags: ${{ env.IMAGE_NAME }}:test
      env:
        HARBOR_OPERATOR_VERSION: ${{ env.VERSION }}

    - name: Test harbor binary
      run: |
        docker run --rm \
          -e ADMIN_PASSWORD_NEW=test \
          -e HARBOR_API_URL=https://example.com \
          -e CONFIG_FOLDER_PATH=/config \
          ${{ env.IMAGE_NAME }}:test --version

    - name: Tag and push tested container image
      uses: docker/build-push-action@64c9b141502b80dbbd71e008a0130ad330f480f8
      with:
        context: .
        push: ${{ github.event_name != 'pull_request' && !github.event.act }}
        tags: ${{ github.event.act && steps.meta-local.outputs.tags || steps.meta.outputs.tags }}
        labels: ${{ github.event.act && steps.meta-local.outputs.labels || steps.meta.outputs.labels }}