name: Helm Docs

on:
  push:
    branches:
      - main
    paths:
      - 'chart/**'
      - '.github/workflows/helm-docs.yml'
      - 'README.md'
  pull_request:
    branches:
      - main
    paths:
      - 'chart/values.yaml'
      - 'chart/README.md.gotmpl'
      - '.github/workflows/helm-docs.yml'
      - 'chart/README.md'

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          ref: ${{ github.event.pull_request.head.ref || github.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run helm-docs
        uses: losisin/helm-docs-github-action@v1
        with:
          git-push: true 